.container {
    margin: auto;
    max-width: 94rem;
}

.section-name {
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
}
