:root {
  --color-primary: #FF4E50;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dart-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  margin: auto;
  max-width: 94rem;
}

.section-name {
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
}

body {
  background-image: url("../img/bg.png");
  opacity: 0.9;
  height: 500px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.header__logo-text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: capitalize;
}

.header__buttons--signup {
  margin-right: 2rem;
}

.header__buttons--signin {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 2rem;
}

.promo {
  position: relative;
  height: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 10rem;
}

.promo__text {
  font-weight: bold;
  font-size: 5rem;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__subtext {
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #F7F3F2;
}

.promo__button {
  margin-top: 3rem;
  background-color: var(--color-primary);
  text-align: center;
}

.how-it-works {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  height: 40rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.how-it-works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.how-it-works__item--1 {
  max-width: 30rem;
  background-image: url("../img/Step1.png");
}

.how-it-works__item--2 {
  max-width: 30rem;
  background-image: url("../img/Step2.png");
}

.how-it-works__item--3 {
  max-width: 30rem;
  background-image: url("../img/Step3.png");
}
/*# sourceMappingURL=main.css.map */